*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(50, 33, 33);

}

header{
    position: fixed;
    background-color: #ff4757;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
   }

   .nav{
    max-width: 1000px;
    width: 100%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

.box{
    color: white;
    height: 30px;
    width: 30px;
    text-align: center;
    
    position: relative;
}

#cart-count{
    position: absolute;
    background-color: #2f3542;
    top: -5px;
    right: 0;
    padding: 3px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 50%;
    z-index: 99;
}

#cart-icon{
    
    font-size: 1.5rem;
    cursor: pointer;
    padding-top: 10px;
}
img{
    width: 100%;
    height: 100%;
    
}

.container{
    max-width: 1200px;
    padding: 4rem;
    margin: auto;
    width: 100%;
}
.shop-content{
    display: grid;
    /* height: 50%;
    width: 50%; */
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
  
}

h2.title{
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: #ffffff;

}
.food-box{
    background-color:wheat;
    padding: 10px;
    box-shadow: 0 1px 4px rgba(40,37,37,0.1);
    border-radius: 3px;
    height: 100%;

}

.pic{
    overflow: hidden;
    height: 70%
}
.pic:hover img{
    transform: scale(1.5);
}
.food-img{
    transition: 0.4s;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.food-title{
    font-size: 15px;
    font-weight: 600;
    color: #ff4757;

}

.food-price{
    font-weight: 500;
   
}
.add-cart{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #2ed573;
    color: white;
    padding: 10px;
    
}